<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_4Events.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>   
        <add name="connectionString"
             connectionString="Data Source=mssql.fhict.local;Initial Catalog=dbi342472;User ID=dbi342472;Password=PTS24Events"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <_4Events.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
        </_4Events.Properties.Settings>
    </applicationSettings>
</configuration>